html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
}

div.left {
    float: left;
    padding-right: 10px;
    margin-right: 10px;
    overflow-y: auto;
    position: relative;
    /* height: 100%; */
}

div.right {
    float: left;
    height: 100%;
}

div.table {
    padding-right: 10px;
    overflow-y: auto;
    position: relative;
    margin-bottom: 10px;
    margin-left: 10px;
}

h3.title {
    /* padding-bottom: 10px; */
    text-align: center;
}

th,
td {
    text-align: center;
}

/* label.pqr {
    display: inline-block;
    width: 15px;
    text-align: right;
    padding-right: 5px;
} */

input.pqr {
    width: 28px;
}

/* label.unit {
    display: inline-block;
    width: 50px;
    text-align: right;
    padding-right: 5px;
} */

input.unit {
    width: 40px;
    /* margin-right: 5px; */
}

/* label.maxiter {
    text-align: right;
    padding-right: 5px;
    display: inline-block;
    width: 40px;
} */

input.maxiter {
    width: 70px;
}

span.time,
td.info {
    font-size: 9pt;
}

/* label.svg-unit {
    display: inline-block;
    width: 70px;
    text-align: right;
    padding-right: 5px;
} */

input.svg-unit,
input.svg-file {
    width: 80px;
}

/* label.svg-file {
    display: inline-block;
    width: 65px;
    text-align: right;
    padding-right: 5px;
} */

/* button.big {
    width: 120px;
} */

button.build {
    width: 70px;
}